 #write-to-us{
    /* background-image: url("/imgs/contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* background: rgb(140 187 180); */
} 