#jobs{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/imgs/home.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;

}
.bg-blur{
    background: rgba(192, 234, 255, 0.664);
    padding: 25px;
    border-radius: 15px;
}